<div class="todo-container">
    <h2>Todo List</h2>
    <ul>
      <li *ngFor="let todo of todos">
        <input type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodo(todo)">
        <span [class.completed]="todo.completed">{{ todo.title }}</span>
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
    <div class="add-todo">
      <input type="text" [(ngModel)]="newTodo" placeholder="Add new todo">
      <button (click)="addTodo()">Add Todo</button>
    </div>
  </div>
  